.login-container
  display: flex
  justify-content: center
  align-items: center
  min-height: 80vh
  padding: 16px
  background: #121212

  mat-card
    max-width: 400px
    width: 100%
    background: #1e1e1e !important
    color: #ffffff

.full-width
  width: 100%

form
  display: flex
  flex-direction: column
  gap: 8px
